In [28]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame,MultiIndex

## Series的多层索引
- 隐式方式：直接使用多级的list指定
- 显示方式： 使用MultiIndex类的from_arrays()from_tuples()/from_product()方法创建

In [12]:
#from_product()
s1 = Series(np.random.randint(1000,9000,size=6),
           index = MultiIndex.from_product([['西安','北京','上海'],
                                           ['vivo','oppo']]))
s1

西安  vivo    8823
    oppo    2470
北京  vivo    3001
    oppo    1605
上海  vivo    7887
    oppo    7370
dtype: int32

DataFrame的多层索引
- 多层索引的创建同Series
- DataFrame可以创建多层列索引

In [13]:
#题目二： 创建四个城市的五种手机的四个季度（3个月）的销售情况
#         城市：  杭州/重庆/大连/丽江
#         手机：   HuaWei P30,MI9,Vivo 27,Oppo FindX, Oneplus 7 pro
index = MultiIndex.from_product([['杭州','重庆','大连','丽江'],
                                 ['HuaWei P30','MI9','Vivo 27','Oppo FindX', 'Oneplus 7 pro']])
columns = MultiIndex.from_product([['一季度','二季度','三季度','四季度'],
                                   ['月1','月2','月3']])
data = np.random.randint(1000,9000,size=(20,12))
df2 = DataFrame(data,index,columns)
df2

                   一季度               二季度               三季度               四季度  \
                    月1    月2    月3    月1    月2    月3    月1    月2    月3    月1
杭州 HuaWei P30     7222  8421  7897  5502  4736  5628  2380  8713  2371  3828
   MI9            4795  1197  1045  8949  2113  7202  4433  4074  8325  6597
   Vivo 27        3022  8291  1258  5557  5159  5052  6507  8542  7110  3140
   Oppo FindX     7298  1994  7788  1145  3256  8761  5015  5854  3681  3118
   Oneplus 7 pro  4365  6883  4766  2651  7737  8750  8877  4241  7275  7092
重庆 HuaWei P30     3746  8467  7750  5605  8110  7267  5368  2317  5884  5315
   MI9            2153  8851  3885  8401  8261  8466  8952  4554  5769  6592
   Vivo 27        1941  4119  8869  4456  7350  6449  5827  8110  6810  7365
   Oppo FindX     8182  2624  6654  4669  6110  4797  7364  5195  8083  4500
   Oneplus 7 pro  1612  6467  3000  3908  6282  1357  5294  2901  3881  3648
大连 HuaWei P30     8764  4676  5876  8063  5539  1137  4431  4803  4422  1387
   MI9            4219  2165  5571  2164  3646  2329  7193  5808  2256  4831
   Vivo 27        8923  3000  2739  6034  2841  8609  6900  8536  3321  1631
   Oppo FindX     3559  7725  5224  1931  5293  5350  2745  2196  1791  5208
   Oneplus 7 pro  4364  6024  6432  3977  6883  5140  6445  6264  2942  6039
丽江 HuaWei P30     2636  5497  8998  4606  8290  6239  7939  6323  3763  4861
   MI9            3065  3999  3898  1599  6988  3444  2516  5109  1680  7714
   Vivo 27        2354  8558  4387  7536  4723  5004  7538  1121  3141  1807
   Oppo FindX     3773  3957  3024  7997  3906  1247  2034  2866  4275  3375
   Oneplus 7 pro  4265  3146  8375  5117  7079  8422  6306  2812  8772  5850


                    月2    月3
杭州 HuaWei P30     7065  5260
   MI9            4344  1980
   Vivo 27        8433  4095
   Oppo FindX     1705  1449
   Oneplus 7 pro  8690  7926
重庆 HuaWei P30     1959  7408
   MI9            5327  2388
   Vivo 27        5658  1058
   Oppo FindX     2989  4232
   Oneplus 7 pro  8946  5396
大连 HuaWei P30     2474  4139
   MI9            7552  1979
   Vivo 27        4573  8115
   Oppo FindX     6867  8158
   Oneplus 7 pro  4469  8408
丽江 HuaWei P30     5034  3525
   MI9            7432  2006
   Vivo 27        8405  1655
   Oppo FindX     3515  3448
   Oneplus 7 pro  1332  2726

In [ ]:
#多层索引的操作与切片
- 最外层的表示第一级层索引，level=0
- 最内层的表示最末级层次索引，level=-1 ，如果层次为2曾，也可以是-1
- 选择某一索引时，必须要写全(以元组方式)，如('西安','Oppo')

In [14]:
# 查看大连的第一季度的销量情况
df2.loc['大连','一季度']

                 月1    月2    月3
HuaWei P30     8764  4676  5876
MI9            4219  2165  5571
Vivo 27        8923  3000  2739
Oppo FindX     3559  7725  5224
Oneplus 7 pro  4364  6024  6432

In [16]:
#查看杭州的Vivo 27的‘一季度’和‘三季度’的销量情况
df2.loc[('杭州','Vivo 27'),['一季度','三季度']]

一季度  月1    3022
     月2    8291
     月3    1258
三季度  月1    6507
     月2    8542
     月3    7110
Name: (杭州, Vivo 27), dtype: int32

In [17]:
#显示第三行、第四行、第九行的‘一季度’的前2月的销售情况
df2.iloc[[2,3,8],:2]

                一季度
                 月1    月2
杭州 Vivo 27     3022  8291
   Oppo FindX  7298  1994
重庆 Oppo FindX  8182  2624

练习：
创建一个DataFrame，表示出张三李四期中期末各科成绩

In [29]:
sdf1 = DataFrame(np.random.randint(150,size=(2,6)),
                columns=MultiIndex.from_product([['期中','期末'],
                                                ['语','数','外']]),
                index=['张三','李四'])
sdf1

     期中             期末
      语    数    外    语    数    外
张三  149   55   71  121  120  108
李四    8  105  148  131   51  126

练习9：
分析比较Series和DataFrame各种索引的方式，熟练掌握.loc()方法
假设张三再一次在期中考试的时候因为特殊原因放弃英语考试，如何实现？

In [22]:
#查看所有人的期中的数学和英语
sdf1.loc[:,[('期中','数'),('期中','外')]]

    期中
     数    外
张三  78  124
李四  76  107

In [23]:
#查看所有人的期中的数学和英语
sdf1[:,[('期中','数'),('期中','外')]]

TypeError: '(slice(None, None, None), [('期中', '数'), ('期中', '外')])' is an invalid key

In [30]:
sdf1.loc['张三',('期中','外')] =None
sdf1

     期中               期末
      语    数      外    语    数    外
张三  149   55    NaN  121  120  108
李四    8  105  148.0  131   51  126

In [31]:
df2.stack()  #默认情况，将列的最内层的索引转成行的最内层的索引

                      一季度   三季度   二季度   四季度
杭州 HuaWei P30    月1  7222  2380  5502  3828
                 月2  8421  8713  4736  7065
                 月3  7897  2371  5628  5260
   MI9           月1  4795  4433  8949  6597
                 月2  1197  4074  2113  4344
                 月3  1045  8325  7202  1980
   Vivo 27       月1  3022  6507  5557  3140
                 月2  8291  8542  5159  8433
                 月3  1258  7110  5052  4095
   Oppo FindX    月1  7298  5015  1145  3118
                 月2  1994  5854  3256  1705
                 月3  7788  3681  8761  1449
   Oneplus 7 pro 月1  4365  8877  2651  7092
                 月2  6883  4241  7737  8690
                 月3  4766  7275  8750  7926
重庆 HuaWei P30    月1  3746  5368  5605  5315
                 月2  8467  2317  8110  1959
                 月3  7750  5884  7267  7408
   MI9           月1  2153  8952  8401  6592
                 月2  8851  4554  8261  5327
                 月3  3885  5769  8466  2388
   Vivo 27       月1  1941  5827  4456  7365
                 月2  4119  8110  7350  5658
                 月3  8869  6810  6449  1058
   Oppo FindX    月1  8182  7364  4669  4500
                 月2  2624  5195  6110  2989
                 月3  6654  8083  4797  4232
   Oneplus 7 pro 月1  1612  5294  3908  3648
                 月2  6467  2901  6282  8946
                 月3  3000  3881  1357  5396
大连 HuaWei P30    月1  8764  4431  8063  1387
                 月2  4676  4803  5539  2474
                 月3  5876  4422  1137  4139
   MI9           月1  4219  7193  2164  4831
                 月2  2165  5808  3646  7552
                 月3  5571  2256  2329  1979
   Vivo 27       月1  8923  6900  6034  1631
                 月2  3000  8536  2841  4573
                 月3  2739  3321  8609  8115
   Oppo FindX    月1  3559  2745  1931  5208
                 月2  7725  2196  5293  6867
                 月3  5224  1791  5350  8158
   Oneplus 7 pro 月1  4364  6445  3977  6039
                 月2  6024  6264  6883  4469
                 月3  6432  2942  5140  8408
丽江 HuaWei P30    月1  2636  7939  4606  4861
                 月2  5497  6323  8290  5034
                 月3  8998  3763  6239  3525
   MI9           月1  3065  2516  1599  7714
                 月2  3999  5109  6988  7432
                 月3  3898  1680  3444  2006
   Vivo 27       月1  2354  7538  7536  1807
                 月2  8558  1121  4723  8405
                 月3  4387  3141  5004  1655
   Oppo FindX    月1  3773  2034  7997  3375
                 月2  3957  2866  3906  3515
                 月3  3024  4275  1247  3448
   Oneplus 7 pro 月1  4265  6306  5117  5850
                 月2  3146  2812  7079  1332
                 月3  8375  8772  8422  2726

In [32]:
df2.stack(level=0) #将列的最外层索引转成行的最内层的索引

                        月1    月2    月3
杭州 HuaWei P30    一季度  7222  8421  7897
                 三季度  2380  8713  2371
                 二季度  5502  4736  5628
                 四季度  3828  7065  5260
   MI9           一季度  4795  1197  1045
                 三季度  4433  4074  8325
                 二季度  8949  2113  7202
                 四季度  6597  4344  1980
   Vivo 27       一季度  3022  8291  1258
                 三季度  6507  8542  7110
                 二季度  5557  5159  5052
                 四季度  3140  8433  4095
   Oppo FindX    一季度  7298  1994  7788
                 三季度  5015  5854  3681
                 二季度  1145  3256  8761
                 四季度  3118  1705  1449
   Oneplus 7 pro 一季度  4365  6883  4766
                 三季度  8877  4241  7275
                 二季度  2651  7737  8750
                 四季度  7092  8690  7926
重庆 HuaWei P30    一季度  3746  8467  7750
                 三季度  5368  2317  5884
                 二季度  5605  8110  7267
                 四季度  5315  1959  7408
   MI9           一季度  2153  8851  3885
                 三季度  8952  4554  5769
                 二季度  8401  8261  8466
                 四季度  6592  5327  2388
   Vivo 27       一季度  1941  4119  8869
                 三季度  5827  8110  6810
...                    ...   ...   ...
大连 Vivo 27       二季度  6034  2841  8609
                 四季度  1631  4573  8115
   Oppo FindX    一季度  3559  7725  5224
                 三季度  2745  2196  1791
                 二季度  1931  5293  5350
                 四季度  5208  6867  8158
   Oneplus 7 pro 一季度  4364  6024  6432
                 三季度  6445  6264  2942
                 二季度  3977  6883  5140
                 四季度  6039  4469  8408
丽江 HuaWei P30    一季度  2636  5497  8998
                 三季度  7939  6323  3763
                 二季度  4606  8290  6239
                 四季度  4861  5034  3525
   MI9           一季度  3065  3999  3898
                 三季度  2516  5109  1680
                 二季度  1599  6988  3444
                 四季度  7714  7432  2006
   Vivo 27       一季度  2354  8558  4387
                 三季度  7538  1121  3141
                 二季度  7536  4723  5004
                 四季度  1807  8405  1655
   Oppo FindX    一季度  3773  3957  3024
                 三季度  2034  2866  4275
                 二季度  7997  3906  1247
                 四季度  3375  3515  3448
   Oneplus 7 pro 一季度  4265  3146  8375
                 三季度  6306  2812  8772
                 二季度  5117  7079  8422
                 四季度  5850  1332  2726

[80 rows x 3 columns]

In [33]:
df2.unstack()#将行的最内层索引转换成列的最内层的索引

          一季度                                                          \
           月1                                                月2
   HuaWei P30   MI9 Oneplus 7 pro Oppo FindX Vivo 27 HuaWei P30   MI9
丽江       2636  3065          4265       3773    2354       5497  3999
大连       8764  4219          4364       3559    8923       4676  2165
杭州       7222  4795          4365       7298    3022       8421  1197
重庆       3746  2153          1612       8182    1941       8467  8851

                                     ...        四季度                      \
                                     ...         月2
   Oneplus 7 pro Oppo FindX Vivo 27  ... HuaWei P30   MI9 Oneplus 7 pro
丽江          3146       3957    8558  ...       5034  7432          1332
大连          6024       7725    3000  ...       2474  7552          4469
杭州          6883       1994    8291  ...       7065  4344          8690
重庆          6467       2624    4119  ...       1959  5327          8946


                              月3
   Oppo FindX Vivo 27 HuaWei P30   MI9 Oneplus 7 pro Oppo FindX Vivo 27
丽江       3515    8405       3525  2006          2726       3448    1655
大连       6867    4573       4139  1979          8408       8158    8115
杭州       1705    8433       5260  1980          7926       1449    4095
重庆       2989    5658       7408  2388          5396       4232    1058

[4 rows x 60 columns]

In [34]:
df2.unstack().sum(axis=1)

丽江    281009
大连    294080
杭州    320560
重庆    328898
dtype: int64

In [37]:
#统计不同的手机的全年销量情况
df2.unstack(level=0).sum(axis=1)

HuaWei P30       261641
MI9              227816
Oneplus 7 pro    263534
Oppo FindX       215927
Vivo 27          255629
dtype: int64

#多层索引下的聚合操作
- min()/max()/mean()/sum()聚合函数中可以指定level，表示按哪一层次进行聚合

In [43]:
#查看不同城市的不同手机的各个季度的销量情况
df2.sum(axis=0,level=0).sum(axis=1,level=0)

      一季度    二季度    三季度    四季度
杭州  76242  82198  87398  74722
重庆  78320  91488  86309  72781
大连  79261  68936  70053  75830
丽江  69932  82197  66195  62685

In [52]:
sdf1.mean(axis=1,level=-1)

        语     数      外
张三  135.0  87.5  108.0
李四   69.5  78.0  137.0